:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.nav{
  background-color: rgb(52, 52, 112);
}
.horoscope-container{
    background: rgba(0, 0, 0, 0.8);
    margin-top: 10%;

}
.videoTag{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

a.nav-link {
  font-size: 1.5rem;
}

a {
  color: white;
  text-decoration: none;
}
a.nav-link{
  color:white;
}

.dropdown-item{
  text-align: center;
}
h1{
  color:white;
}

p{
  color:white;
}
.signlink {
  text-decoration: none;
  font-size: 2rem;
}

.image-list {
  height: 110px;
  border-radius: 50%;
  
}

.image-list:hover{
  transform: scale(1.1); 
}
.image-box{
  margin-top: 1rem;
}
.chart-container {
  display: flex;
}

.sign-title{
  color:white;
}
.sign-div{
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2%;
}
.sign-content{
  font-size:1.5rem;
}
.signpage-image{
  border-radius: 50%;
}

.todaysImage{
  margin:10px;
  float:right;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media only screen and (max-width: 600px) {

  .image {
    width: 100px;
    height: 100px;
  }

  .artist-image-container {
    display: grid;
    place-content: center;
  }

  .chart-container {
    display: block;
  }

  .image-list {
    width: 60px;
    height: auto;
  }


  .ul-img {
    padding-left: 0%;
    margin-right: 1rem;
  }

  .signlink {
    text-decoration: none;
    font-size: 1rem;
  }
  .todaysImage{
    height:100px;
    width:100px;
  }
  .todaysContent{
    font-size: .8rem;

  }

}