:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.videoTag{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


.nav{
  background-color: rgb(52, 52, 112);
}
a.nav-link {
  font-size: 1.5rem;
}

.rotate {
  animation: rotateAnimation 1s;
  animation-fill-mode: forwards;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a {
  color: white;
  text-decoration: none;
}
a.nav-link{
  color:white;
}


h1, h2{
  color:white;
}

p{
  color:white;
}

/* Horoscope Compnent */
.horoscope-container{
    background: rgba(0, 0, 0, 0.8);
    margin-top: 5%;

}

.image-list {
  height: 110px;
  border-radius: 50%;
  
}

.signlink {
  text-decoration: none;
  font-size: 2rem;
}

.image-list:hover{
  transform: scale(1.1); 
}


/* Page for Sign */
.image-box{
  margin-top: 10rem;
  margin-bottom: 2rem;
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
  align-items: center;
  justify-items: center;
}
.chart-container {
  display: flex;
}

.sign-title{
  color:white;
}
.sign-div{
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2%;
}
.sign-content{
  font-size:1.5rem;
  padding: 50px;
}
.signpage-image{
  border-radius: 50%;
}

/* Todays Horoscope desktop */
.todaysImage{
  margin:10px;
  float:center;
}
.todaysContent{
  display: inline-block;
}

.image-mobile{
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media only screen and (max-width: 600px) {

  .image {
    width: 100px;
    height: 100px;
  }
  .image-box{
  display: none;
  }
  .chart-container {
    display:inline;
    margin-left: 15%;
    margin-right: 33%;
  }


  .image-list {
    width: 60px;
    height: auto;
  }
  .image-mobile{
    display: block;
    text-align: center;
    margin-top: 2rem;
  }
  
  .sign-title{
    text-align: center;
  }
  .sign-date{
    text-align: center;
  }
  .sign-range{
    text-align: center;
  }
  .signpage-image{
    border-radius: 50%;
    height:150px;
    width:150px;
  }
  .sign-content{
    font-size:1.5rem;
    padding: 10px;
  }
  /* Horoscope Component */
  .ul-img {
    padding-left: 0%;
    margin-right: 1rem;
  }

  .signlink {
    text-decoration: none;
    font-size: 1rem;
  }
  
/* TodaysHoroscope component*/
  .todaysImage{
    height:100px;
    width:100px;
    float:right;

  }

  .todaysContent{
    font-size: .8rem;
    display: flex;
  }
  .todayTitle{
    margin-right: 2rem;
  }
  .todayDate{
    font-size: 1.5rem;
  }
  .todaytitleDiv{
    display: flex;
  }

}